{% extends 'base.html' %}
{% block title %}{{ title }} | Learning Management System{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Organizations</li>
    </ol>
</nav>

<!-- add org condtion comes here -->
{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-sm btn-primary" href="{% url 'add_organization' %}"><i class="fas fa-plus"></i> Add Organization</a>
</div>
{% endif %}

<div class="title-1"><i class="fas fa-building"></i> Organizations</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% include 'snippets/filter_form.html' %}

<div class="table-responsive table-shadow table-light table-striped m-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Organization ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Address</th>
                {% if request.user.is_superuser %}
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for organization in filter.qs %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ organization.organization_id }} </td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.email }} </td>
                <td>{{ organization.get_type_of_org_display }}</td>
                <td>{{ organization.address }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu position-fixed">
                            <!--organization edit here-->
                            <!--organization delete here-->
                        </ul>
                    </div>
                </td>
                {% endif %}

            {% empty %}
            <tr>
              <td colspan="7">
              <span class="text-danger">No Organizations found.
                {% if request.user.is_superuser %}
                <!--a tag of add organization-->
                <i class="primary" style="font-size: 22px;">
                   Add Organization Now.
                </i>
                </a>
                {% endif %}
              </span>
            </td>
            </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
